202209-bluebikes-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202205-bluebikes-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202207-bluebikes-tripdata.csv filter=lfs diff=lfs merge=lfs -text
202211-bluebikes-tripdata.csv filter=lfs diff=lfs merge=lfs -text
